ul.channel-messages {
	padding: 0;
	margin: 0;
	list-style: none;
	display: flex;
	flex-direction: column;
	gap: 1em;
}

ul.channel-messages li {
	display: flex;
	gap: 1em;
}

ul.channel-messages li > .avatar {
	flex: 0 0 48px;
	max-height: 96px;
}

ul.channel-messages li > .avatar > img {
	width: 100%;
	max-height: 100%;
	object-fit: contain;
}

ul.channel-messages li > .data {
	display: flex;
	flex: 1 1 auto;
	flex-direction: column;
	gap: 1em;
}

.channel-messages .meta {
	text-align: right;
	font-size: smaller;
}

.channel-messages .meta .user-display-name {
	font-weight: bold;
}

.channel-messages .meta .time {
	color: #ccc;
}

ul.channel-list {
	padding: 0;
	margin: 0;
	list-style: none;
	display: flex;
	flex-direction: column;
	gap: 1em;
}

.channel > a {
    display: flex;
    gap: 1em;
}

.channel > a, .channel > a:hover {
    text-decoration: none;
}

.channel > a > .channel-logo::before {
    content: '#';
    font-size: 2em;
    font-weight: bold;
}

.channel > a > .channel-info {
    display: flex;
    flex-direction: column;
}

.channel-info .name {
    font-size: 1.5em;
    font-weight: bold;
}

.channel-info .current-topic {
    display: none;
}

.channel > a:hover .channel-info .name {
    text-decoration: underline;
}

.channel-groups {
    list-style: none;
    padding: 0;
    margin: 0;
}

.channel-groups > li {
    font-size: inherit;
}

.channel-groups > li > h3 {
	font-size: 2em;
	color: #888;
	font-style: italic;
}

.channel-groups > li > ul {
    padding-left: 1em;
}

.channel-groups > li.general {
    padding-bottom: 5em;
}

.channel-groups > li.general > h3, .channel-groups > li.other > h3 {
    display: none;
}

.channel-groups > li.archived > ul > li  .name::after {
    content: ' (Archived)';
    color: #ddd;
}

.slack-archives .pagenav {
    display: flex;
    margin: 2em 0;
}

.slack-archives .pagenav ul {
    flex: 1 1 auto;
    display: flex;
    padding: 0;
    margin: 0;
    list-style: none;
}

.slack-archives .pagenav ul li {
    flex: 1 1 auto;
    border: 1px solid black;    
	text-align: center;
	display: flex;
}

.slack-archives .pagenav ul li.current {
    background: #ccc;
    color: white;
}

.slack-archives .pagenav ul li:not(:first-child) {
    border-left: none;
}

.slack-archives .pagenav ul li a {
    text-decoration: none;
    color: inherit;
	flex: 1 1 auto;
	padding: 0.5em;
}